<%- include("partials/header") -%>
    <main class="contenedor sombra">
    <section>
        <h2>Facultades</h2>
        <div class="container">
            <% if (message != '') { %>
                <p class="text-center text-danger"><%= message %></p>
                <% } %>
                <form class="add-facultad-form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="facultad_nombre" id="facultad_nombre" placeholder="Facultad Nombre" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="decripcion" id="decripcion" placeholder="Descripción" required>
                        </div>
                    </div>
                    <button type="submit" class="boton">Add Facultad</button>
                </form>
            </div>
    </section>
</main>
</div>
</body>
</html>
