<%- include("partials/header") -%>
<main class="contenedor sombra">
    <section>
        <h2>Facultades</h2>
        <div class="container">
            <% if (message) { %>
                <p class="text-center text-danger"><%= message %></p>
                <% } %>

                <% if (facultades) { %>
                    <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="first-name">Facultad ID</label>
                                <input type="text" class="form-control" name="facultad_id" id="facultad_id" value="<%= facultades.facultad_nombre %>" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="id">Descripción</label>
                                <input type="text" class="form-control" name="descripcion" id="descripcion" value="<%= facultades.decripcion %>" required>
                            </div>
                        </div>
                        <button type="submit" class="boton">Update Profesor</button>
                    </form>
                    <% } else { %>
                        <p class="text-center">Profesor Not Found. Go <a href="/facultades/add">here</a> to add profesor.</p>
                        <% } %>
                    </div>

    </section>
</main>
</div>
</body>
</html>
