<%- include("partials/header") -%>
    <main class="contenedor sombra">
    <section>
        <h2>Horario</h2>
        <div class="container">
            <% if (message != '') { %>
                <p class="text-center text-danger"><%= message %></p>
                <% } %>
                <form class="add-horario-form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="materia_id" id="materia_id" placeholder="Materia ID" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="grupo_id" id="grupo_id" placeholder="Grupo ID" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="lapso" id="lapso" placeholder="E-Mail" required>
                        </div>
                    </div>
                    <button type="submit" class="boton">Add Profesor</button>
                </form>
            </div>

    </section>
</main>
</div>
</body>
</html>
